body {
    margin: 0;
    padding: 0;
    background: #060606;
    color: #d6d6d6;
    font-family: "Cinzel", serif;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0;
    justify-content: end;
}

.navbar li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 18px;
}

.hero-imgs {
    display: flex;
    width: 100%;
    height: 250px;
}

.hero-imgs img {
    width: 33.33%;
}

.intro-title {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
}

.intro-text {
    text-align: center;
    font-size: 21px;
    margin: 20px 0;
    font-style: italic;
}

.section {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background: rgba(20, 20, 20, 0.7);
    border-left: 3px solid #8a3d3d;
    border-radius: 8px;
}

.section h2 {
    font-size: 28px;
    color: #c58b8b;
}

.subsection h3 {
    font-size: 22px;
    color: #a76b6b;
}

li {
    margin: 6px 0;
}