@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:wght@300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #0a0a0a;
    color: #e2d9c1;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0;
    justify-content: end;
}

.navbar li a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 18px;
}

.hero-imgs {
    display: flex;
    width: 100%;
    height: 250px;
}

.hero-imgs img {
    width: 33.33%;
}

.intro-title {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
}

.intro-text {
    text-align: center;
    font-size: 21px;
    margin: 20px 0;
    font-style: italic;
}

.section {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: rgba(30, 30, 30, 0.7);
    border: 1px solid #d8b43b;
    border-radius: 12px;
}

.section h2 {
    color: #d8b43b;
    font-size: 28px;
    margin-bottom: 10px;
}

.subsection {
    margin-top: 20px;
}

.subsection h3 {
    color: #d8b43b;
    font-size: 22px;
}

ul {
    margin-left: 20px;
}

li {
    margin: 6px 0;
}